.admin-area {
  background: rgba(54, 53, 53, 0.815);
  color: white;
  height: 100vh;
}
.admin-container {
  overflow-x: hidden;
}
.admin-menu {
  list-style: none;
  cursor: pointer;
}
.admin-menu:hover {
  color: blue;
}